<div class="flex flex-col gap-3">
  @if (!photo) {
  <video #video autoplay playsinline muted class="w-full max-h-[300px] bg-black"></video>
  }

  <canvas #canvas class="hidden"></canvas>

  @if (photo) {
  <img [src]="photo" alt="Foto" class="w-full mt-3 rounded" />
  }

  <div class="flex flex-wrap gap-2">
    @if (!stream) {
    <button
      class="px-4 py-2 bg-blue-600 hover:bg-blue-700 text-white rounded"
      (click)="openCamera()"
    >
      Abrir Câmera
    </button>
    } @if (stream) {
    <button
      class="px-4 py-2 bg-blue-600 hover:bg-blue-700 text-white rounded"
      (click)="capturePhoto()"
    >
      Tirar Foto
    </button>

    <button
      class="px-4 py-2 bg-gray-600 hover:bg-gray-700 text-white rounded"
      (click)="closeCamera()"
    >
      Fechar Câmera
    </button>
    } @if (photo) {
    <button class="px-4 py-2 bg-red-600 hover:bg-red-700 text-white rounded" (click)="clearPhoto()">
      Limpar Foto
    </button>
    }
  </div>
</div>
